@charset "UTF-8";

@media(max-width:1100px) {

    #f_nav a {
        font-size: 16px;
    }

    #wrap {
        display: block;
    }

    #f_nav {
        display: flex;
        justify-content: center;
        margin-top: -256px;
        margin-left: 300px;
    }

    .sns ul {
        justify-content: center;
    }
}

@media(max-width:1050px) {


    #f_nav ul li {
        line-height: normal;
    }


}

@media(max-width:1050px) {
    .adress {
        padding-left: 0px;
    }
}

@media(max-width:850px) {
    #wrap {
        display: block;
        text-align: center;
    }

    #f_nav ul {
        margin: 0 auto;
    }

    #f_nav {
        margin: 0;
        display: block;
        margin: 0 auto;
    }

    #f_nav ul {
        width: 300px;
    }
}



@media(max-width:650px) {
    h1 a img {
        width: 500px;
    }
}




@media(max-width:570px) {
    #main_nav {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 300px;
        background: transparent;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all .5s;
        z-index: 10;
        opacity: 0;
        margin-left: -1px;
    }

    .open2 #main_nav {
        left: 0;
        opacity: 1;
    }

    #main_nav {
        padding: 20px;
    }

    #main_nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        background-color:black; /*ここが閉じた時の背景色*/
        opacity:1;　　　　　　　　/*ここが閉じた時のオパシティー*/　　
    }

    #main_nav li {
        width: 150px;
        position: relative;
        margin: 0;
    }

    #main_nav ul li a {
        font-size: 14px;
    }


    #main_nav ul li a:nth-of-type(1) {
        height: 50px;
    }




    #main_nav a {
        display: block;
        color: #333;
        font-size: 14px;
        padding: 0;
        transition-duration: 0.2s;
        text-align: start;
        width: 150px;
        border-bottom: 2px dotted white;
        margin: 2px;
    }

    #main_nav a:hover {
        background-color: white;
    }


    #main_nav {
        left: -70%;
        width: 70%;
    }

    .toggle_btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 30px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
    }

    .toggle_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color:black;
        border-radius: 4px;
        transition: all .5s;
    }

    .toggle_btn span:nth-child(1) {
        top: 4px;
    }

    .toggle_btn span:nth-child(2) {
        top: 14px;
    }

    .toggle_btn span:nth-child(3) {
        bottom: 4px;
    }

    .open2 .toggle_btn span {
        background-color:white;
    }

    .open2 .toggle_btn span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
    }

    .open2 .toggle_btn span:nth-child(2) {
        opacity: 0;
    }

    .open2 .toggle_btn span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    #mask {
        display: none;
        transition: all .5s;
    }

    .open2 #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ac6525;
        opacity: .7;
        z-index: 2;
        cursor: pointer;
    }

    .toggle_btn {
        display: block;
        position: fixed;
        top: 75px;
        right: 30px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
    }

    .toggle_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: black;  /*３本ラインの色*/
        border-radius: 4px;
        transition: all .5s;
    }

    .toggle_btn span:nth-child(1) {
        top: 4px;
    }

    .toggle_btn span:nth-child(2) {
        top: 14px;
    }

    .toggle_btn span:nth-child(3) {
        bottom: 4px;
    }

    .open2 .toggle_btn span {
        background-color: black; /*✖ボタンの色*/
    }

    .open2 .toggle_btn span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
    }

    .open2 .toggle_btn span:nth-child(2) {
        opacity: 0;
    }

    .open2 .toggle_btn span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    #mask {
        display: none;
        transition: all .5s;
    }

    .open2 #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        opacity: 0.7;
        z-index: 2;
        cursor: pointer;
    }
    
    .open2 #main_nav ul{     /*ここで閉じた時の幅規定*/
        width:150px;
    }
    
    
    #main_nav ul{
        border-bottom:1px solid transparent;
    }
    #main_nav ul li a{
        line-height: 3.5em;
        font-size: 1em;
        color: white;
        background-color:black;
    }
    #main_nav ul li a:hover{
        background-color: blue; /*閉じた時のホバー色*/
        color:red;
    }
}






@media(max-width:500px) {
    h1 a img {
        width: 350px;

    }
}

@media(max-width:350px) {
    h1 a img {
        width: 300px;

    }
}
